.row{
	position: fixed;
	bottom: 5%;
	right: -10%;
	z-index: 3;
}


.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	color: #000000;
	transition: color 0.25s;
	-webkit-transform: color 0.25;
	cursor: pointer;
}

.gooey-menu-item:hover .fa{
	color: #ffffff;
}

.fa-play-circle{
	
}

.gooey-menu-item,
.open-button {
	border-radius: 100%;
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: .9em;
	transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transition: transform ease-out 200ms;
	-ms-transition: transform ease-out 200ms;
	-o-transition: transform ease-out 200ms;
	-moz-transition: transform ease-out 200ms;
	-webkit-transition: transform ease-out 200ms;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	outline: transparent solid 5px;
	transform-style: preserve-3d
}

.menu-open {
	display: none;
}

.burger {
	background: #000;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1.5px;
	transition: transform 200ms;
	-ms-transition: transform 200ms;
	-moz-transition: transform 200ms;
	-webkit-transition: transform 200ms;
	-o-transition: transform 200ms
}

.burger-1 {
	transform: translate3d(0, -8px, 0);
	-moz-transform: translate3d(0, -8px, 0);
	-o-transform: translate3d(0, -8px, 0);
	-webkit-transform: translate3d(0, -8px, 0);
	-ms-transform: translate3d(0, -8px, 0)
}

.burger-2 {
	transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0)
}

.burger-3 {
	transform: translate3d(0, 8px, 0);
	-ms-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	-o-transform: translate3d(0, 8px, 0);
	-webkit-transform: translate3d(0, 8px, 0)
}

.menu-open:checked+.open-button .burger-1 {
	transform: translate3d(0, 0, 0) rotate(45deg);
	-ms-transform: translate3d(0, 0, 0) rotate(45deg);
	-moz-transform: translate3d(0, 0, 0) rotate(45deg);
	-o-transform: translate3d(0, 0, 0) rotate(45deg);
	-webkit-transform: translate3d(0, 0, 0) rotate(45deg)
}

.navimenu .menu-open:checked+.open-button .burger-2 {
	transform: translate3d(0, 0, 0) scale(.1, 1);
	-ms-transform: translate3d(0, 0, 0) scale(.1, 1);
	-moz-transform: translate3d(0, 0, 0) scale(.1, 1);
	-o-transform: translate3d(0, 0, 0) scale(.1, 1);
	-webkit-transform: translate3d(0, 0, 0) scale(.1, 1)
}

.navimenu .menu-open:checked+.open-button .burger-3 {
	transform: translate3d(0, 0, 0) rotate(-45deg);
	-ms-transform: translate3d(0, 0, 0) rotate(-45deg);
	-moz-transform: translate3d(0, 0, 0) rotate(-45deg);
	-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
	-o-transform: translate3d(0, 0, 0) rotate(-45deg)
}

.gooey-menu-item {
	transition-duration: 180ms;
	-moz-transition-duration: 180ms;
	-webkit-transition-duration: 180ms;
	-o-transition-duration: 180ms
}

.open-button {
	z-index: 2;
	transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
	-ms-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
	-moz-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
	-webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
	-o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
	transition-duration: 400ms;
	-ms-transition-duration: 400ms;
	-o-transition-duration: 400ms;
	-moz-transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	-ms-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	-o-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	-moz-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	-webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	cursor: pointer
}

.open-button:hover {
	transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	-ms-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	-moz-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	-o-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	-webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0)
}

.menu-open:checked+.open-button {
	transition: 200ms linear;
	-ms-transition: 200ms linear;
	-webkit-transition: 200ms linear;
	-moz-transition: 200ms linear;
	-o-transition: 200ms linear;
	transform: scale(.9, .9) translate3d(0, 0, 0);
	-ms-transform: scale(.9, .9) translate3d(0, 0, 0);
	-o-transform: scale(.9, .9) translate3d(0, 0, 0);
	-webkit-transform: scale(.9, .9) translate3d(0, 0, 0);
	-moz-transform: scale(.9, .9) translate3d(0, 0, 0)
}

.musicpage{
	border-radius: 50000px;
	display: none;
	width: 70px;
	height: 70px;
	z-index: 2;
	background: linear-gradient(90deg,#a1c4fd, #c2e9fb,#d4fc79, #96e6a1,#ff0844,#ffb199,#5f72bd,#9b23ea,#96deda,#50c9c3,#5271C4,#B19FFF,#ECA1FE,#a1c4fd);
	background-size: 5000%;
	animation: animate 50s linear infinite;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;

}
@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 100%;
	}
}
.fa-5x{
	color: #FFFFFF;
	margin-left: 200px;
	margin-right:100px;

}

.pagemain{
	width: 1200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: playmusic 3s ;
}
@keyframes playmusic{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.musicpage .info {
	z-index: 5;
    display: inline-block;
    width: 500px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-family:黑体;
    font-size: 30px;
	position: absolute;
	top: 45%;
	left: 50.25%;
	transform: translate(-50%,-50%);
}
