@charset "utf-8";
/* CSS Document */

*{
	color: #FFFFFF;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	color:#C7C7C7;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}

.neck {
	background-color:#000000;
}


.content{
	margin:0;
	margin-top: 5px;
}

.foot_heading{
	padding:20px 0;
	text-align:center;
	
}
.wrap{
	width:1500px;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}

 .foot{
	margin-top:20px;
    padding:30px;
    background:#282A27;
}
.foot_list{
	padding:20px 0;
}
.foot_grid1{
	float:left;
	width:48%;
}
.foot_img{
	float:left;
	width:65px;
}

.foot_desc{
	float:left;
	width:85%;
    padding-left:3%; 
}
.clear{clear:both;}

.foot_grid2{
	float:left;
	width:48%;
	padding-left:4%;
}

.statement {
	position: absolute;
	top: 102%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.text_a:hover{
	text-decoration: underline;
}